@{
    ViewData["Title"] = "Wedding Planner";
}
<h1>Welcome to the Wedding Planner!</h1>
<a href="logout">Log Out</a>

<table>
    <thead>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guest</th>
        <th>Action</th>
    </thead>
    @foreach(var item in ViewBag.list){
        <tr>
            <td><a href="wedding/@item.WeddingId"> @item.Wedder1 & @item.Wedder2 </a></td>
            <td>@item.Date.ToString("MMM d yyyy")</td>
            <td>@item.Coming.Count</td>
            <td>
                @if(item.Creator == ViewBag.uid) {
                    <a href="delete/@item.WeddingId">Delete</a>
                }
                else {
                    bool already = false;
                    foreach(var guest in item.Coming)
                    {
                        if(guest.UserId == ViewBag.uid)
                        {
                        <a href="leave/@guest.WeddingId">Un-RSVP</a>
                        already = true;
                        }
                    }
                    if(!already)
                    {
                    <a href="join/@item.WeddingId">RSVP</a>
                    }
                    
                }   
            </td>
        </tr>
    }

</table>

<a href="new"><button>New Wedding</button></a>